
.img{
    width: 360px;
    height: 200px;
   object-fit: cover;
   object-position: center;
   display: block;

}

.listText{
    display: flex;
    justify-content: center;
    background-color: rgb(70, 67, 232) ;
    padding: 0;
    margin: 0;
    gap: 12px;
color: white;

}